include ../_mixins/links.jade

.fixed.landing-page
    if (global.custom && global.custom.custom_navigation)
        //Hides tm logo and shows navbar
        if(global.custom.custom_navigation.NoTm)
            #team-mentor-navigation(class=global.custom.custom_navigation.navbarclass)
                a(href='/jade/index.html')
                    #tm-logo(class=global.custom.custom_navigation.logoclass)
                        img(src=global.custom.custom_navigation.logo)

                p(style=global.custom.custom_navigation.loggedOutTextStyle)
                    span #{global.custom.custom_navigation.loggedInText}
                #links
                    +links-navbar__landing-page

        else
            #team-mentor-navigation
                a(href='/')
                    #tm-logo(class="customization")
                #customer-logo
                    img(src=global.custom.custom_navigation.logo)
                #links
                    +links-navbar__landing-page
    else
        #team-mentor-navigation
            a(href='/jade/index.html')
                #tm-logo
            #links
                +links-navbar__landing-page